/code/x64
/code/lib
/TestProblem/00200
/TestProblem/00500
/TestProblem/01000
/TestProblem/02000
/TestProblem/04000
*.user
*.obj
*.mod
*.manifest
*.pyc
*.aux
*.log
*.gz
*.filters
_UpgradeReport_Files
/code/Debug
/code/ipch
/code/Release
*.pdb
/code/src/mf2005-GPU.0.f
*.suo
*.sdf
